* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    font-size: 15px;
    background: #0B0B12;
    color: #B6B6B6;
}

/* Container */
.container {
    display: flex;
    align-items: center;
    height: 100%;
}

/* Header */
.site-header {
    position: sticky;
    top: 30px;
    height: 70px;
    margin: 30px 10%;
    background: rgba(21, 22, 32, 0.8);
    color: #B6B6B6;
    border-radius: 25px;
    box-shadow: 0 0 50px rgba(142, 68, 173, 0.5);

    /* Mica effect */
    backdrop-filter: blur(10px) saturate(150%);
    -webkit-backdrop-filter: blur(10px) saturate(150%);
}

.header-container {
    justify-content: space-between;
    margin: auto 5%;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #B6B6B6;
    text-decoration: none;
}

.navbar {
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    gap: 80px;
}

.nav-link a {
    position: relative;
    color: #B6B6B6;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-link .Home {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #2ECC71;
    color: #0B0B12;
    box-shadow: 0 0 15px #2ECC7180;
    transition: all 0.3s ease-in-out;
}
.nav-link .Home:hover {
    box-shadow: 0 0 20px #2ECC7180, 0 0 30px #2ECC7140;
    color: #0B0B12;
}

.nav-link a:not(.Home)::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -3px;
    background-color: #2ECC71;
    transition: width 0.3s ease;
}
.nav-link a:not(.Home):hover::after {
    width: 100%;
}

/* Main */
.site-main {
    padding: 2rem 0;
}

/* Footer */
.site-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 30px 0;
    background: #151520;
    color: #B6B6B6;
    box-shadow: 0 0 50px rgba(142, 68, 173, 0.5);
}

.footer-container {
    margin: auto 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.social-icon svg {
    width: 30px;
    height: 30px;
    color: #B6B6B6;
    transition: transform 0.3s, filter 0.3s;
}

.social-icon svg:hover {
    transform: scale(1.2);
    filter: brightness(1.5);
}