/* Hero Section */
.homeContainer {
    max-width: 1000px;
    width: 100%;
}

.pageHeading {
    margin-bottom: 3rem;
}

.pageHeadingContent {
    width: 100%;
}

.homeTitle {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--color-text);
    margin-bottom: 2rem;
    opacity: 1;
}

.homeDescription {
    font-size: 1.2rem;
    line-height: 1.8;
    color: var(--color-text);
    opacity: 0.8;
}

/* For 1150px wide devices */
@media (max-width: 1150px) {
    .homeContainer {
        max-width: 90%;
    }

    .homeTitle {
        margin-bottom: 1.5rem;
        font-size: 2rem;
    }

    .homeDescription {
        font-size: 1.1rem;
        line-height: 1.7;
    }
}